<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AirMass.</title>
    <link rel="stylesheet" href="../static/AirMass.css">
    <script src="../static/AirMass.js"></script>
</head>
<body class="page">
    <div class="container">
        <div class="top">
            <nav class="navbar">
                <a href="../views/AirMass.html"><img src="../static/AirMass logo.png" alt="" style="width:25vw;height:4vw;"></a>
                <a href="../views/LiveWeatherHome.html" class="navLink"> Live Weather</a>
                <a href="../views/FlightPlanHome.html" class="navLink"> Flight Plan</a>
            </nav>
        </div>
        <div class="content">
            <form action="search" method="get">
                <div class="search__Depart">
                    <p class="search__title">
                        Enter Departure Airport Here:
                    </p>
                    <input class="search__input" type="text" placeholder="Search" aria-setsize="100">
                </div>
                <div class="search__Arrival">
                    <p class="search__title">
                        Enter Arrival Airport Here:
                    </p>
                    <input class="search__input" type="text" placeholder="Search" aria-setsize="100">
                </div>
                <div class="A_DT">
                    <label for="A_date">Arrival Date:</label>
                    <input type="date" id="A_date" name="A_date">
                    <input type="time" id="A_time" name="A_time">
                </div>
                <div class="D_DT">
                    <label for="D_date">Departure Date:</label>
                    <input type="date" id="D_date" name="D_date">
                    <input type="time" id="D_time" name="D_time">
                </div>

                <input type="submit" class="HomeButton" id="submit">
            </form>
        </div>
</body>
</html>