<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AirMass.</title>
    <link rel="stylesheet" href="../static/AirMass.css">
    <script src="../static/AirMass.js"></script>
</head>
<body class="page">
    <div class="container">
        <div class="top">
            <nav class="navbar">
                <a href="../views/AirMass.html"><img src="../static/AirMass logo.png" alt="" style="width:25vw;height:4vw;"></a>
                <a href="../views/LiveWeatherHome.html"><img src="../static/liveWeather.png" alt="" style="width:20vw;height:3vw;"></a>
                <a href="../views/FlightPlanHome.html" class="navLink"> Flight Plan</a>
            </nav>
        </div>
        <div class="content">
            <form action="search" method="get">
                <div class="search__container">
                    <p class="search__title">
                        Search For Live Weather Data Here:
                    </p>
                    <input class="search__input" type="text" placeholder="Search" aria-setsize="100">
                </div>
            </form>
        </div>
</body>
</html>